/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Root Styles
   ========================================================================== */

:root {
  --main-text: #414140;
}

@font-face {
  font-family: "FestivalBudayaXXXI";
  src: local('./web-fonts-with-css/css/fonts/FestivalBudayaXXXI.otf');
}

@font-face {
  font-family: "Iowan Old Style";
  src: local('./web-fonts-with-css/css/fonts/Iowan-Old-Style.ttc');
}

h1, h2, h3, h4, h5, h6, body, footer {
  font-family: "Iowan Old Style", Arial, sans-serif;
}

body {
  max-width: 1440px;
  height: auto;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "header"
    "main"
    "footer"
}

header {
  width: auto;
  height: auto;
  background-image: url("/images/barbara-stanwyck-424419926.jpg");
  background-position: center 38%;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/-1;
}

.hero {
  color: white;
  margin-top: 800px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.hero-title {
  font-size: 100px;
  margin-bottom: 0;
  grid-column: 1/-1;
}

.hero-subtitle {
  font-size: 30px;
  margin-top: -30px;
  margin-left: 50px;
  grid-column: 3/-1;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  grid-column: 1/-1;
  text-align: center;
}

main {
  grid-column: 1/-1;
}

.dropcap {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "story photo";
  padding-top: 100px;
}

.col-2-flip {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "photo story"
}

.story {
  grid-area: story;
}

.photo-reference {
  grid-area: photo;
}

.photo-reference img {
  width: 100%;
}

.quotes {
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

#early-beginnings .story {
  grid-column: 2/7;
  padding-right: 20px;
}

#early-beginnings .photo-reference {
  grid-column: 7/12;
}

#early-beginnings .quotes {
  grid-column: 2/12;
}
