/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Root Styles
   ========================================================================== */

:root {
  --main-text: #414140;
}

@font-face {
  font-family: "FestivalBudayaXXXI";
  src: local('./web-fonts-with-css/css/fonts/FestivalBudayaXXXI.otf');
}

@font-face {
  font-family: "Iowan Old Style";
  src: local('./web-fonts-with-css/css/fonts/Iowan-Old-Style.ttc');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "FestivalBudayaXXXI", Georgia, serif;
}

body, footer {
  font-family: "Iowan Old Style", Arial, sans-serif;
}

body {
  max-width: 1440px;
  height: auto;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "header"
    "main"
    "footer"
}

header {
  width: auto;
  height: auto;
  background-image: url("/images/barbara-stanwyck-424419926.jpg");
  background-position: center 38%;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/-1;
}

.hero {
  color: white;
  margin-top: 800px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.hero-title {
  font-size: 100px;
  margin-bottom: 0;
  grid-column: 1/-1;
}

.hero-subtitle {
  font-size: 30px;
  margin-top: -30px;
  margin-left: 50px;
  grid-column: 3/-1;
}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  grid-column: 1/-1;
  text-align: center;
}

main {
  grid-column: 1/-1;
}

section {
  display: grid;
  /* grid-template-columns: repeat(12, 1fr); */
  grid-gap: 20px;
  /* padding: 0 80px; */
  padding-bottom: 100px;
}

.dropcap {
  float: left;
  font-family: "FestivalBudayaXXXI", Georgia, serif;
  font-size: 70px;
  line-height: 65px;
  /* padding-top: 4px; */
  padding-right: 10px;
  /* padding-left: 3px; */
}

#early-beginnings {
  padding-top: 100px;
  grid-template-areas:
    "story photo"
    "quote quote";
}

#motion-pictures {
  grid-template-areas:
    "photo story"
    "gallery gallery"
    "quote quote";
}

#personality {
  grid-template-areas:
    "photo"
    "story"
    "quote";
}

#late-life {
  grid-template-areas:
    "story"
    "quote"
    "photo";
}

#filmography {
  grid-template-areas:
    "list-1 list-2 list-3";
}

#closing {
  grid-template-areas:
    "quote"
    "photo";
}

.story {
  grid-area: story;
  align-self: center;
}

.photo-reference {
  grid-area: photo;
  align-self: center;
}

.photo-reference img {
  width: 100%;
  height: 100%;
}

.quotes {
  grid-area: quote;
  padding-top: 100px;
  padding-left: 125px;
  padding-right: 125px;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.quotes h3 {
  font-family: "Iowan Old Style", Arial, sans-serif;
}

.author {
  margin-bottom: 0;
}

.author-title {
  margin-top: 0;
  font-size: 20px;
}

#early-beginnings .story {
  padding-right: 50px;
  padding-left: 50px;
}

#motion-pictures .story {
  padding-right: 70px;
  padding-left: 50px;
}

#early-beginnings  .photo-reference img,
#motion-pictures .photo-reference img {
  width: 600px;
}

#personality .story,
#late-life .story {
  padding: 50px 100px 0 100px;
}

.story-title {
  font-size: 50px;
}

#motion-pictures .film-gallery {
  grid-column: 1/-1;
}

#late-life .photo-reference {
}

#filmography ul {
  list-style-type: none;
}

.list-1 {
  grid-area: list-1;
}

.list-2 {
  grid-area: list-2;
}

.list-3 {
  grid-area: list-3;
}

.category {
  font-size: 20px;
  margin: 30px 0;
}
